In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
X = sns.load_dataset('titanic')

In [4]:
X.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [5]:
df = pd.DataFrame({'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
                   'City': ['New York', 'Chicago', 'San Francisco', 'New York', 'San Francisco'],
                   'Job': ['Engineer', 'Sales', 'Manager', 'Engineer', 'Sales']})

df.head()

   Gender           City       Job
0    Male       New York  Engineer
1  Female        Chicago     Sales
2    Male  San Francisco   Manager
3  Female       New York  Engineer
4    Male  San Francisco     Sales